<!DOCTYPE html>
<html lang="ru">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shorten the url</title>
    <style>
      body {
        background: #E6E6E6; 
      }
      .container {
        margin: 0 auto;
        margin-top: 250px;
        width: 700px;
        background: #F08080;
        height: 100px;
        text-align: center;
        border-radius: 10px;
      }
      input, label, h1 {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container py-5">   
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Сократить</button>
      </form>
      <h1>
        <a href="{{ shorted_url }}"" target="blank">{{ shorted_url }}</a>
      </h1>
    </div>  
  </body>
</html>